/* 
Style for window layout 
*/

html,
body {
    height: 100%;
    margin: 0px 20px 20px;
    /* Margin on left and right but not top*/
}

/* 
Style for elements in header 
*/

#header {
    display: flex;
    justify-content: space-between;
    /* Create between title and menu button */
    padding: 10px;
    /* Add padding arround content */
}

#app-title {
    color: rgba(73, 63, 38, 0.8);
    font-size: 30px;
    margin: 0;
    /* Remove margin */
    padding-top: 10px;
    font-family: 'Jacques Francois', serif !important;
}

#menu-container {
    display: flex;
    /* Use flexbox for alignment */
    justify-content: flex-end;
    /* Place menu button to the right of container */
}

#menu-button {
    background-color: rgba(73, 63, 38, 0.5);
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#menu-button:hover {
    background-color: rgba(73, 63, 38, 0.7);
}

#calendar {
    display: flex;
    /* Make display dynamic*/
    width: 90%;
    /* Width occupy 90% of frame */
    height: 100%;
    /* Make width and height adjustable */
    max-width: none;
    max-height: none;
    margin: 0px;
}

/* 
Create main container for calendar, todo-list and add-event
*/

#main-content {
    display: flex;
    /* Put todo frame on the left of calendar */
    height: 100%;
    width: 100%;
}

/* 
Style for elements in calendar 
*/

/* 
Header of calendar 
*/
.fc-header-toolbar {
    background-color: rgba(237, 190, 96, 0.18);
    /* Change bg color of calendar title */
    color: rgba(73, 63, 38, 0.8);
    /* Change color of calendar title */
    font-family: 'Jacques Francois', serif !important;
    padding: 10px;
}

/* 
"Month/Week/Day/List buttons 
*/

.fc-button-group .fc-button-primary {
    background-color: rgba(73, 63, 38, 0.5);
    border-color: rgba(241, 228, 202, 0.18000000715255737);
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.fc-button-group .fc-button-primary:hover {
    background-color: rgba(73, 63, 38, 0.7) !important;
    border-color: rgba(241, 228, 202, 0.18000000715255737) !important;
    font-weight: bold;
    text-decoration: underline;
}

/* 
Next day/Prev day buttons
 */

.fc-prev-button,
.fc-next-button,
.fc-today-button {
    background-color: rgba(73, 63, 38, 0.5) !important;
    border-color: rgba(73, 63, 38, 0.5) !important;
    color: white !important;
}

.fc-prev-button:hover,
.fc-next-button:hover,
.fc-today-button:hover {
    background-color: rgba(73, 63, 38, 0.7) !important;
    border-color: rgba(241, 228, 202, 0.18000000715255737) !important;
    font-weight: bold;
    text-decoration: underline;
}

/* 
Style for the Today button to match the Month button 
*/

.fc-today-button {
    background-color: rgba(73, 63, 38, 0.5) !important;
    border-color: rgba(73, 63, 38, 0.5) !important;
    color: white !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.fc-today-button:hover,
.fc-today-button:active {
    background-color: rgba(73, 63, 38, 0.7) !important;
    /* Darker shade for hover state */
    border-color: rgba(241, 228, 202, 0.18000000715255737) !important;
    color: white;
    font-weight: bold;
    text-decoration: underline !important;
}

.fc .fc-day-today {
    background-color: rgba(252, 214, 23, 0.3) !important;
    /* Change color of today on calendar*/
}

/* 
Style for elements inside calendar
*/

.fc-daygrid-day-number {
    color: #333333;
    /* Change the color of day numbers inside calendar */
}

.fc-event {
    background-color: rgba(73, 63, 38, 0.7);
    color: white;
}

.fc-event:hover {
    background-color: rgba(73, 63, 38, 0.7);
}

.fc-dot {
    background-color: #f8db65;
}

.fc .fc-col-header-cell-cushion {
    color: rgba(73, 63, 38, 0.8);
    /* Color of "Mon Tues Wed..."*/
    font-family: 'Jacques Francois', serif !important;
}

/* Alternating column colors of yellow and blue*/
.fc .fc-day:nth-child(even),
.fc .fc-col-header-cell:nth-child(even) {
    background-color: rgba(241, 228, 202, 0.18);
}

.fc .fc-day:nth-child(odd),
.fc .fc-col-header-cell:nth-child(odd) {
    background-color: rgba(155, 191, 228, 0.18);
}

/* Style for the todo list */

/* Todo list container */
#todo-list {
    width: 30%;
    /* Occupy 30% of list*/
    padding: 20px;
    background-color: rgba(241, 228, 202, 0.18);
    flex-grow: 1;
    /* Allow list to adjust in size*/
}

/* Todo list*/
#todos {
    list-style-type: none;
    /* Remove bullet points */
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* Arrange items vertically */
}

/* Todo list title */
#todo-list h2 {
    margin-top: 0;
    margin-bottom: 8px;
    color: rgba(73, 63, 38, 0.8);
    font-family: 'Jacques Francois', serif !important;
}

/* Todo items */
#todos li {
    background-color: rgba(155, 191, 228, 0.18);
    border-radius: 4px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* "Completed" button next to todo text*/
    align-items: center;
}

/* Todo text */
#todos li span {
    flex-grow: 1;
    color: rgba(73, 63, 38, 0.8);
    text-align: left;
}

/* Completed button */
#todos li button {
    background-color: rgba(55, 101, 24, 0.7);
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    font-size: 12px;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

#todos li button:hover {
    background-color: rgba(55, 101, 24, 0.95);
}

/* Todo entry box*/
#todo-input-container {
    display: flex;
    margin-bottom: 15px;
}

#new-todo {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid rgba(73, 63, 38, 0.3);
    border-radius: 4px;
    font-size: 14px;
    margin-right: 8px;
}

/* Add button */
#add-todo {
    background-color: rgba(73, 63, 38, 0.5);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

#add-todo:hover {
    background-color: rgba(73, 63, 38, 0.7);
}

/*
Style for Add event
*/

/*Add event text*/
#todo-list h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 0;
    color: rgba(73, 63, 38, 0.8);
    font-size: 24px;
    font-family: 'Jacques Francois', serif !important;
}

/* Add Event button */
#open-modal {
    background-color: rgba(73, 63, 38, 0.5);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: -5px;
    transition: background-color 0.3s ease;
}

#open-modal:hover {
    background-color: rgba(73, 63, 38, 0.7);
}

/* Create background of opaqueness*/
.modal {
    display: none;
    /* Hide add event window */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    /* New window should be on top */
    overflow: auto;
    /* Enable scrollbar */
    background-color: rgba(0, 0, 0, 0.4);
    /* Set opacity to low */
}

/* Window to add events*/
.modal-content {
    background-color: #F1E4CA;
    padding: 20px;
    max-width: 500px;
    overflow-y: auto;
    position: fixed;
    /* Center the modal */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    /* Arrange items vertically */
    border-radius: 10px;
}

/* Groups of input boxes and texts*/
.form-group {
    margin-bottom: 5px;
    margin-left: 20px;
    margin-top: -2px;
}

label {
    display: inline-block;
    /* Position label and input on the same line */
    width: 100px;
    /* Fixed width*/
    font-family: 'Jacques Francois', serif !important;
    color: rgba(73, 63, 38);
}

input[type="text"],
input[type="datetime-local"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Close button */

.close {
    position: absolute;
    top: -3px;
    left: 10px;
    color: rgba(255, 0, 0, 0.5);
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

/* Notepad */

#quill-editor {
    height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #FDF3E1;
}

/* Add event button */

#add-event-button {
    background-color: rgba(73, 63, 38, 0.5);
    width: 50%;
    justify-content: flex-end;
    color: white;
    border: none;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-left: 20px;
}

#add-event-button:hover {
    background-color: rgba(73, 63, 38, 0.7);
}


/* 
Style for menu list
 */

#menu-list {
    position: fixed;
    top: -20px;
    right: 0;
    width: 200px;
    height: 100%;
    /* height of entire screen */
    background-color: rgba(73, 63, 38, 0.9);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#menu-list.hidden {
    display: none;
}

#menu-list ul {
    list-style-type: none;
    padding: 0px;
}

#menu-list li {
    margin: 15px;
}

#menu-list a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#menu-list a:hover {
    color: grey;
}
