* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v90_299 {
  width: 100%;
  height: 832px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v90_300 {
  width: 100%;
  height: 95px;
  background: url("../images/v90_300.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v90_301 {
  width: 100%;
  height: 95px;
  background: rgba(241,228,202,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v90_302 {
  width: 175px;
  color: rgba(73,63,38,0.800000011920929);
  position: absolute;
  top: 21px;
  left: 108px;
  font-family: Jacques Francois;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v90_303 {
  width: 169px;
  color: rgba(73,63,38,0.5);
  position: absolute;
  top: 32px;
  left: 1007px;
  font-family: IM FELL Great Primer;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v90_304 {
  width: 16px;
  color: rgba(73,63,38,0.4000000059604645);
  position: absolute;
  top: 26px;
  left: 301px;
  font-family: Irish Grover;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v90_305 {
  width: 16px;
  color: rgba(73,63,38,0.4000000059604645);
  position: absolute;
  top: 23px;
  left: 74px;
  font-family: Irish Grover;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v90_306 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 1208px;
  overflow: hidden;
}
.v90_307 {
  width: 40px;
  height: 40px;
  background: url("../images/v90_307.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v90_308 {
  width: 30px;
  height: 20px;
  background: rgba(73,63,38,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 5px;
}
.v90_309 {
  width: 149px;
  height: 646px;
  background: url("../images/v90_309.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 142px;
  left: 395px;
  overflow: hidden;
}
.v90_310 {
  width: 149px;
  height: 572px;
  background: rgba(155,191,228,0.5);
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 0px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}
.v90_311 {
  width: 53px;
  height: 50px;
  background: url("../images/v90_311.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
  overflow: hidden;
}
.v90_312 {
  width: 53px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Jacques Francois;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v90_313 {
  width: 10px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 26px;
  left: 22px;
  font-family: Jacques Francois;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v90_314 {
  width: 149px;
  height: 645px;
  background: url("../images/v90_314.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 141px;
  left: 225px;
  overflow: hidden;
}
.v90_315 {
  width: 149px;
  height: 572px;
  background: rgba(241,228,202,0.18000000715255737);
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 0px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}
.v90_316 {
  width: 52px;
  height: 55px;
  background: url("../images/v90_316.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 49px;
  overflow: hidden;
}
.v90_317 {
  width: 52px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Jacques Francois;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v90_318 {
  width: 10px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 31px;
  left: 21px;
  font-family: Jacques Francois;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v90_319 {
  width: 149px;
  height: 646px;
  background: url("../images/v90_319.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 142px;
  left: 565px;
  overflow: hidden;
}
.v90_320 {
  width: 149px;
  height: 572px;
  background: rgba(241,228,202,0.18000000715255737);
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 0px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}
.v90_321 {
  width: 53px;
  height: 52px;
  background: url("../images/v90_321.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
  overflow: hidden;
}
.v90_322 {
  width: 53px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Jacques Francois;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v90_323 {
  width: 19px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 28px;
  left: 17px;
  font-family: Jacques Francois;
  font-weight: Regular;
  font-size: 18px;
  opacity: 0.8999999761581421;
  text-align: left;
}
.v90_324 {
  width: 149px;
  height: 646px;
  background: url("../images/v90_324.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 142px;
  left: 735px;
  overflow: hidden;
}
.v90_325 {
  width: 149px;
  height: 572px;
  background: rgba(155,191,228,0.5);
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 0px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}
.v90_326 {
  width: 43px;
  height: 53px;
  background: url("../images/v90_326.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 53px;
  overflow: hidden;
}
.v90_327 {
  width: 43px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Jacques Francois;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v90_328 {
  width: 21px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 29px;
  left: 11px;
  font-family: Jacques Francois;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v90_329 {
  width: 149px;
  height: 648px;
  background: url("../images/v90_329.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 905px;
  overflow: hidden;
}
.v90_330 {
  width: 149px;
  height: 572px;
  background: rgba(241,228,202,0.18000000715255737);
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 0px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}
.v90_331 {
  width: 51px;
  height: 55px;
  background: url("../images/v90_331.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 49px;
  overflow: hidden;
}
.v90_332 {
  width: 51px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Jacques Francois;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v90_333 {
  width: 19px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 31px;
  left: 16px;
  font-family: Jacques Francois;
  font-weight: Regular;
  font-size: 18px;
  opacity: 0.8999999761581421;
  text-align: left;
}
.v90_334 {
  width: 149px;
  height: 646px;
  background: url("../images/v90_334.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 142px;
  left: 1075px;
  overflow: hidden;
}
.v90_335 {
  width: 149px;
  height: 572px;
  background: rgba(155,191,228,0.5);
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 0px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}
.v90_336 {
  width: 56px;
  height: 52px;
  background: url("../images/v90_336.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 56px;
  overflow: hidden;
}
.v90_337 {
  width: 56px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Jacques Francois;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v90_338 {
  width: 18px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 28px;
  left: 10px;
  font-family: Jacques Francois;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v90_339 {
  width: 149px;
  height: 649px;
  background: url("../images/v90_339.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 137px;
  left: 55px;
  overflow: hidden;
}
.v90_340 {
  width: 149px;
  height: 572px;
  background: rgba(155,191,228,0.5);
  opacity: 1;
  position: absolute;
  top: 77px;
  left: 0px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}
.v90_341 {
  width: 61px;
  height: 55px;
  background: url("../images/v90_341.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 47px;
  overflow: hidden;
}
.v90_342 {
  width: 61px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Jacques Francois;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v90_343 {
  width: 7px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 31px;
  left: 24px;
  font-family: Jacques Francois;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v90_344 {
  width: 137px;
  color: rgba(73,63,38,1);
  position: absolute;
  top: 98px;
  left: 9px;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v90_345 {
  width: 137px;
  color: rgba(73,63,38,1);
  position: absolute;
  top: 192px;
  left: 9px;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v90_346 {
  width: 137px;
  color: rgba(73,63,38,1);
  position: absolute;
  top: 266px;
  left: 10px;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v90_347 {
  width: 137px;
  color: rgba(73,63,38,1);
  position: absolute;
  top: 340px;
  left: 10px;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v165_35 {
  width: 239px;
  height: 832px;
  background: url("../images/v165_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1041px;
  overflow: hidden;
}
.v165_36 {
  width: 149px;
  height: 646px;
  background: url("../images/v165_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 142px;
  left: 36px;
  overflow: hidden;
}
.v165_37 {
  width: 149px;
  height: 572px;
  background: rgba(155,191,228,0.5);
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 0px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}
.v165_38 {
  width: 56px;
  height: 52px;
  background: url("../images/v165_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 56px;
  overflow: hidden;
}
.v165_39 {
  width: 56px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Jacques Francois;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v165_40 {
  width: 18px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 28px;
  left: 10px;
  font-family: Jacques Francois;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v165_41 {
  width: 239px;
  height: 832px;
  background: url("../images/v165_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v165_42 {
  width: 239px;
  height: 154px;
  background: url("../images/v165_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v165_43 {
  width: 239px;
  height: 154px;
  background: rgba(73,63,38,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v165_44 {
  width: 237px;
  height: 2px;
  background: url("../images/v165_44.png");
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 0px;
  border: 2px solid rgba(255,255,255,1);
}
.name {
  color: #fff;
}
.v165_46 {
  width: 199px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 26px;
  font-family: IM FELL Great Primer;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v165_47 {
  width: 170px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 65px;
  left: 26px;
  font-family: IM FELL Great Primer;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v165_48 {
  width: 170px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 113px;
  left: 26px;
  font-family: IM FELL Great Primer;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v165_49 {
  width: 239px;
  height: 692px;
  background: rgba(73,63,38,1);
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 0px;
  overflow: hidden;
}
.v165_50 {
  width: 239px;
  height: 832px;
  background: url("../images/v165_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v165_51 {
  width: 239px;
  height: 692px;
  background: rgba(73,63,38,1);
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 0px;
  overflow: hidden;
}
.v165_52 {
  width: 239px;
  height: 183px;
  background: url("../images/v165_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v165_53 {
  width: 239px;
  height: 154px;
  background: rgba(73,63,38,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v165_55 {
  width: 237px;
  height: 2px;
  background: url("../images/v165_55.png");
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 0px;
  border: 2px solid rgba(255,255,255,1);
}
.name {
  color: #fff;
}
.v165_57 {
  width: 199px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 26px;
  font-family: IM FELL Great Primer;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v165_58 {
  width: 170px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 67px;
  left: 26px;
  font-family: IM FELL Great Primer;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v165_59 {
  width: 170px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 112px;
  left: 26px;
  font-family: IM FELL Great Primer;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v165_60 {
  width: 170px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 154px;
  left: 26px;
  font-family: IM FELL Great Primer;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v166_32 {
  width: 421px;
  height: 412px;
  background: url("../images/v166_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 296px;
  left: 245px;
  overflow: hidden;
}
.v166_37 {
  width: 421px;
  height: 412px;
  background: url("../images/v166_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v166_38 {
  width: 418px;
  height: 412px;
  background: rgba(241,228,202,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}
.v166_39 {
  width: 111px;
  height: 20px;
  background: rgba(252,243,224,1);
  opacity: 1;
  position: absolute;
  top: 381px;
  left: 18px;
  overflow: hidden;
}
.v166_40 {
  width: 156px;
  height: 20px;
  background: rgba(252,243,224,1);
  opacity: 1;
  position: absolute;
  top: 381px;
  left: 159px;
  overflow: hidden;
}
.v166_41 {
  width: 260px;
  color: rgba(73,63,38,1);
  position: absolute;
  top: 379px;
  left: 161px;
  font-family: IM FELL Great Primer;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v166_42 {
  width: 260px;
  color: rgba(73,63,38,1);
  position: absolute;
  top: 379px;
  left: 19px;
  font-family: IM FELL Great Primer;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v166_43 {
  width: 389px;
  height: 284px;
  background: rgba(252,243,224,1);
  opacity: 1;
  position: absolute;
  top: 85px;
  left: 18px;
  overflow: hidden;
}
.v166_46 {
  width: 19px;
  height: 19px;
  background: rgba(255,3,3,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 18px;
  border-radius: 50%;
}
.v166_48 {
  width: 260px;
  color: rgba(73,63,38,1);
  position: absolute;
  top: 15px;
  left: 51px;
  font-family: IM FELL Great Primer;
  font-weight: Regular;
  opacity: 1;
  text-align: left;
}
.v166_49 {
  width: 260px;
  color: rgba(204,192,161,1);
  position: absolute;
  top: 98px;
  left: 37px;
  font-family: IM FELL Great Primer;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
