* {
    box-sizing: border-box;
  }



#window{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url('logo.jpg');
    background-size: cover;
}

#logo{ 
    opacity: 0;
}

#login-frame{
    width: 32%;
    height: 60%;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    border: none;
    background-color: white;
}


h4{
    font-size: 12px;
    font-family: Jacques Francois !important;
    text-align: center;
    font-size: 18px;
    text-decoration-line: underline;
    font-weight: normal;
    margin: 5px
}

h1{
    color: rgba(34,32,33,1);
    font-family: Jacques Francois !important;
    text-align: center;

}

#name, #username, #password{
    background: rgba(155,191,228,0.5);
    border: none;
    box-shadow: 0px 3px 5px rgb(177, 177, 177);
    font-family: Jacques Francois !important;
    border-radius: 20px;
    margin: 10px;
    height: 12%;
    padding: 12px;
    font-size: 14px;
}

#sign-in{
    background: rgba(155,191,228,0.8);
    border: none;
    box-shadow: 0px 3px 5px rgb(177, 177, 177);
    font-family: Jacques Francois !important;
    border-radius: 20px;
    margin: 10px;
    height: 12%;
    padding: 12px;
    font-size: 18px;
}
#sign-in:hover{
    background: rgba(155,191,228);

}
